# Flask
SECRET_KEY=ganti-dengan-random-secret-yang-panjang
FLASK_DEBUG=true
AUTO_CREATE_TABLES=true

# Pilih "tidb" untuk tugas/pengumpulan atau "sqlite" untuk demo lokal cepat
DB_DRIVER=sqlite
DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=ISI_USERNAME_TIDB
DB_PASSWORD=ISI_PASSWORD_TIDB
DB_NAME=portfolio_vanessa
# Opsional. Kosongkan untuk memakai CA bundle bawaan certifi.
# Contoh Windows bila memakai file CA sendiri: C:/Users/Nama/Downloads/isrgrootx1.pem
DB_CA_PATH=
# Dipakai hanya bila DB_DRIVER=sqlite
SQLITE_PATH=portfolio_local.db

# Cloudinary
CLOUDINARY_CLOUD_NAME=ISI_CLOUD_NAME
CLOUDINARY_API_KEY=ISI_API_KEY
CLOUDINARY_API_SECRET=ISI_API_SECRET
CLOUDINARY_FOLDER=portfolio_vanessa

# Resend
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxx
RESEND_FROM_EMAIL=Portfolio Vanessa <onboarding@resend.dev>
RESEND_TO_EMAIL=email_tujuan@example.com

# Akun awal admin
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
